body {
    font-family: sans-serif;
    margin: 20px auto;
    max-width: 460px;
  }

  /* all containers */
.bigcontainer {
    padding: 10px 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

.container {
    text-align: center;
}
  /* heading container */
.heading {
    font-size: larger;
    font-weight: bold;
    display: block;
    margin: 20px 0px;
}

#container-heading {
    border-bottom: 3px solid #C9DFEC;
}

/* body container */

#container-body {
    flex: 1;
}

#scoretext {
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 20px 0px;
}

#scores {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

#c-and-p-moves {
    display: flex;
    justify-content: space-evenly;
}

.bodycontainers {
    min-height: 60px;
    padding-top: 20px;
}

#presult {
    font-size: 30px;
    font-weight: bold;
}
/* player selection container */

#choose {
    font-size: large;
    font-weight: bold;
    margin: 20px 0px;
}

button {
    padding: 5px 30px;
    font-size: 15px;
    margin-bottom: 20px;
}

#moves {
    display: flex;
    justify-content: space-evenly;
}